.card
    {
        width: 266px;
        height: 380px;
        padding: 0.5rem 2rem;
        background: linear-gradient(rgb(154, 152, 152), rgb(205, 203, 203));
        border: 1px solid black;
        border-radius: 15px;
    }
.image-style
    {
        width: 200px; 
        height: 200px;
        border-radius: 15px;
    }
.title
    {
        width: 200px;
        height: 50px;
        margin-top: -16px;
        font-size: 14px;
        font-weight: bolder;
        color: black;
        text-shadow: 1px 1px 1px white;
    }
.price
    {
        width: 200px;
        height: 50px;
        margin-top: 16px;
        font-size: 20px;
        font-weight: bolder;
        color: red;
        text-shadow: 1px 1px 1px ;
    }